h1 {
   background-color: white;
   color: red;
}

.container .jumbotron {
   background: red;
   color: white;
   margin-top: 90px;
}
body{
   background:url(https://wallpapercave.com/wp/wp2858551.jpg)
}
h1{
   color: darkred;
   text-align: center;
}
ul{
   color: orangered;
   font-size: 25px;
}
img{
   height: 350px;
   width: 350px ;
   border: 2px solid silver;
}